@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="bodyWrap">

  <header class="headerArea">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#">Michelle Nesbitt {Portfolio}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
            <li class="nav-item">
              Phone: 516-800-9972 - Email: mn218@nerdymail.com
            </li>


          </ul>
          <ul class="socialLinks">
           @*  <li><a href="https://www.facebook.com/wallplatecity"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="https://www.twitter.com/wallplatecity"><i class="fa-brands fa-x-twitter"></i></a></li> *@
            <li><a href="https://www.github.com/m1sh3ll"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/m1-sh3ll/"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="mailto:mn218@nerdymail.com"><i class="fa-regular fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="clientArea">

    <div class="container">
      <h2>I've done work for</h2><br>
      <div class="clientContent mt-10">

        <ul class="clientList">
          <li><img src="~/img/btsadv.jpg" width="220px" alt="Break the Silence Against Domestic Violence"></li>
          <li><img src="~/img/usc.jpg" alt="Ultra Spec"></li>
          <li><img src="~/img/riteav.jpg" alt="RiteAV"></li>
          <li><img src="~/img/sfd.jpg" alt="Store Fixtures Direct"></li>
          <li><img src="~/img/fbc.jpg" alt="Fibercables.com"></li>
          <li><img src="~/img/syntax.jpg" alt="Syntax Communications"></li>

        </ul>
      </div>
    </div>
  </div>

  <main class="mainArea">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5">
          <div class="heroSidebar">
            <img src="~/img/hero.jpg" alt="hero">
            <div class="heroContent">
              <p>
                <strong>I am a Web Development consultant</strong> working with small organizations. I specialize in
                e-commerce/online retail websites and software.
              </p>
              <p>
                It's my job to help these organizations increase sales through various click funnels throughout the
                websites. This
                increases user engagement and leads to increased profitability.
              </p>
              <p>
                I also specialize in creating custom software that helps automate tasks which increases productivity
                and reduces data entry errors.
              </p>
              <p>
                I enjoy working on a team and increasing productivity. This is all while I enjoy learning new skills.
                In my free time I am learning new programming languages or volunteering my time to help non-profits
                and friends with their websites.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7">
          <div class="mainContent">
            <div class="projectQuote">
              <i>
                "I couldn't be happier with the functionality, maintenance, and design of our company's software and
                websites by Michelle, whose creativity has significantly improved our online presence leading to
                increased sales."
              </i>
              <br>

              <h3 class="autoreName">Nitin Bhutani</h3>
              <p>President, Ultra Spec Cable, Inc.</p>
            </div>

            <div class="projectList">


             




              <!-- Syntax 2 -->
              <div class="caseitemt">
                <div class="caseImg">
                  <a href="~/img/projects/micro-renamer-wpf.png" style="padding: 0px;" target="_blank" alt-"opens in a new tab">
                    <img src="~/img/projects/micro-renamer-wpf.png" alt="project">
                  </a>
                  <a href="https://github.com/m1sh3ll/MicroRenamerWPF" target="_blank">
                    View Repo
                  </a>
                </div>
                <div class="caseContent">
                  <h2>
                    <a href="https://github.com/m1sh3ll/MicroRenamerWPF" target="_blank">
                      Micro Renamer C#
                    </a>
                  </h2>
                  <ul>
                    <li>
                      <strong>Who</strong>
                      <p>Syntax</p>
                    </li>
                    <li>
                      <strong>What</strong>
                      <p>C#, WPF Desktop Application, Figma, Convert C# .NET Framework App to C# WPF .NET 8.0 </p>
                    </li>
                    <li>
                      <strong>Description</strong>
                      <p>Converted our <a href="~/img/projects/old-micro-renamer.png" target="_blank">previous software</a> to a new design. Upgraded the .NET framework application to .NET 8.0.  Figma prototype is located <a href="https://www.figma.com/proto/nKw6UptLDQRIF9cqWiXCB6/Micro-Renamer?node-id=1-2&t=AgPqThtirV9fi3AY-1&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1" target="_blank">
                        this link.
                        </a>
                      </p>
                    </li>
                  </ul>
                </div>
              </div>




              <!-- UltraSpec -->
              <div class="caseitemt">
                <div class="caseImg">
                  <a href="~/img/projects/api-dotnet.jpg" style="padding: 0px;" target="_blank" alt-"opens in a
                     new tab">
                    <img src="~/img/projects/api-dotnet.jpg" alt="project">
                  </a>

                  <a href="https://github.com/m1sh3ll/.NETCrudWebAPI-Auth-Blogs/tree/main" target="_blank">
                    View Repo
                  </a>
                </div>
                <div class="caseContent">
                  <h2>
                    <a href="https://github.com/m1sh3ll/.NETCrudWebAPI-Auth-Blogs/tree/main" target="_blank">Blog API Back End</a>
                  </h2>
                  <ul>
                    <li>
                      <strong>Who</strong>
                      <p>Ultra Spec</p>
                    </li>
                    <li>
                      <strong>What</strong>
                      <p>C# .NET Web API for Custom Blog Website, Entity Framework, ASP.NET Identity, .NET Core 8, SQL Server, N-Tier Architecture</p>
                    </li>
                    <li>
                      <strong>Description</strong>
                      <p>A lightweight blog API endpoint that can be used with my custom websites. Reduces costs with web hosting as it is hosted free on Somee.</p>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- RiteAV -->
              <div class="caseitemt">
                <div class="caseImg">
                  <a href="~/img/projects/api-dotnet-angular.jpg" style="padding: 0px;" target="_blank" alt-"opens in a new tab">
                    <img src="~/img/projects/api-dotnet-angular.jpg" alt="project">
                  </a>

                  <a href="https://github.com/m1sh3ll/AngularApp.NETFrontEnd-Blogs" target="_blank">
                    View Repo
                  </a>
                </div>
                <div class="caseContent">
                  <h2>
                    <a href="https://angularblogapi.firebaseapp.com/" target="_blank">
                      Blog API Front End
                    </a>
                  </h2>
                  <ul>
                    <li>
                      <strong>Who</strong>
                      <p>RiteAV</p>
                    </li>
                    <li>
                      <strong>What</strong>
                      <p>Angular Blog Website, .NET Web API, Firebase</p>
                    </li>
                    <li>
                      <strong>Description</strong>
                      <p>A lightweight blog administration site deployed to free Firebase hosting. The blogs are for my custom websites. Easy for a company to maintain and reduces costs associated with web hosting.</p>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- BTSADV -->
              <div class="caseitemt">
                <div class="caseImg">
                  <a href="~/img/projects/btsadvprojects.jpg" style="padding: 0px;" target="_blank" alt-"opens in a new tab">
                    <img src="~/img/projects/btsadvprojects.jpg" alt="project">
                  </a>
                  <a href="https://breakthesilencedv.org" target="_blank">View Website</a>
                </div>
                <div class="caseContent">
                  <h2>
                    <a href="https://breakthesilencedv.org" target="_blank">
                      WordPress Website
                    </a>
                  </h2>
                  <ul>
                    <li>
                      <strong>Who</strong>
                      <p>Break the Silence Against Domestic Violence</p>
                    </li>
                    <li>
                      <strong>What</strong>
                      <p>
                        Volunteer: HTML/CSS Descriptions and Blogs, Photoshop Editing, Ad Editing, WooCommerce Store
                        Maintenance, Website Theme Support
                      </p>
                    </li>
                    <li>
                      <strong>Description</strong>
                      <p>
                        Extra help was volunteered when needed reducing the amount of time needed to maintain the
                        site and reducing downtime by 25%.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- UltraSpec -->
              <div class="caseitemt">
                <div class="caseImg">
                  <a href="~/img/projects/uscprojects.jpg" style="padding: 0px;" target="_blank" alt-"opens in a new tab">
                    <img src="~/img/projects/uscprojects.jpg" alt="project">
                  </a>
                  <a href="https://www.ultraspec.com" target="_blank">
                    View Website
                  </a>
                </div>
                <div class="caseContent">
                  <h2>
                    <a href="https://www.ultraspec.com" target="_blank">
                      Shopify Store
                    </a>
                  </h2>
                  <ul>
                    <li>
                      <strong>Who</strong>
                      <p>Ultra Spec Cable Inc.</p>
                    </li>
                    <li>
                      <strong>What</strong>
                      <p>
                        Convert Yahoo store to Shopify, HTML/CSS Descriptions and Ads, 56,000 Products, CSV Data Import, Shopify Theme
                        customization, Shopify App installs
                      </p>
                    </li>
                    <li>
                      <strong>Description</strong>
                      <p>
                        The old site had a lot of downtime. The redesign reduced downtime overall. There was a
                        significant performance increase as well resulting in increased sales.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- Textium -->
              <div class="caseitemt">
                <div class="caseImg">
                  <a href="~/img/projects/textium.jpg" style="padding: 0px;" target="_blank" alt-"opens in a new tab">
                    <img src="~/img/projects/textium.jpg" alt="project">
                  </a>
                  <a href="https://www.textium.online" target="_blank">
                    View Website
                  </a>
                </div>

                <div class="caseContent">
                  <h2>
                    <a href="https://www.textium.online" target="_blank">
                      Textium.online
                    </a>
                  </h2>
                  <ul>
                    <li>
                      <strong>Who</strong>
                      <p>Self Project</p>
                    </li>
                    <li>
                      <strong>What</strong>
                      <p>C#, ASP.NET Core, HTML/CSS, Bootstrap, Webflow, Responsive Design</p>
                    </li>
                    <li>
                      <strong>Description</strong>
                      <p>I created this site as a side project and to get more practice with ASP.net. The front end was created in Webflow.</p>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Textium -->
              <div class="caseitemt">
                <div class="caseImg">
                  <a href="~/img/projects/nerdomcertexams.jpg" style="padding: 0px;" target="_blank" alt-"opens in a new tab">
                    <img src="~/img/projects/nerdomcertexams.jpg" alt="project">
                  </a>
                  <a href="https://github.com/m1sh3ll/NerdomCertExams2018/tree/master/Nerdom" target="_blank">
                    View Repo
                  </a>
                </div>

                <div class="caseContent">
                  <h2>
                    <a href="https://github.com/m1sh3ll/NerdomCertExams2018/tree/master/Nerdom" target="_blank">
                      Nerdom Cert Exams
                    </a>
                  </h2>
                  <ul>
                    <li>
                      <strong>Who</strong>
                      <p>Networkdesigner.net</p>
                    </li>
                    <li>
                      <strong>What</strong>
                      <p>Visual Basic 6, HTML/CSS, ADO.net, Microsoft Access DB</p>
                    </li>
                    <li>
                      <strong>Description</strong>
                      <p>I created this fully featured application during an internship for NetworkDesigner.net to implement his practice questions into a desktop application. </p>
                    </li>
                  </ul>
                </div>
              </div>

            



            </div><!-- End project List-->
          </div>
        </div>
      </div>
      <hr>
      <!-- info section -->

      <section class="info_section">
        <div class="info_container layout_padding-top">
          <div class="container">
            <div class="info_top">
              <div class="info_logo">
              </div>
              <div class="social_box">


                <a href="https://www.linkedin.com/in/m1-sh3ll/" target="_blank">
                  <img src="images/linkedin.png" alt="">
                </a>


              </div>
            </div>

            <div class="info_main">
              <div class="row">
                <div class="col-md-3">
                  <h5>
                    Skills
                  </h5>
                  <p>
                    Full stack websites, C#, ASP.NET Core, MVC & N-Tier, .NET Core Web APIs, Entity Framework, VB.NET,
                    HTML, CSS, JavaScript, Bootstrap, Tailwind.CSS, SQL Server, MySQL, PHP, Angular, XML, JSON, Git,
                    Vercel, AWS, Azure, WPF, Razor Pages, C# Desktop Apps, FTP, DNS, Web Hosting
                  </p>
                  <p><br><br><br></p>
                </div>
              @*   <div class="col-md-3 col-lg-2">
                  <div class="info_link-box">
                    <h5>
                      My Resume
                    </h5>
                    <ul>
                      <li class="active">
                        <a class="" href="resume.docx">
                          Download my resume here<span class="sr-only">(current)</span>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div> *@



                <div class="col-md-3 col-lg-2 offset-lg-1">
                  <h5>
                    Work With Me
                  </h5>
                  <p>
                    I help build websites and software packages for small businesses. Contact me for your business
                    today.
                  </p>
                </div>
                <div class="col-md-3 col-lg-2 offset-lg-1">
                  <h5>
                    Contact
                  </h5>
                  <p>
                    Michelle Nesbitt<br>
                    3794 Miller Pl<br>
                    Levittown, NY 11756<br>
                    (516)800-9972
                  </p>
                </div>

              </div>
            </div>


          </div>
        </div>
      </section>

      <!-- end info section -->




    </div>
  </main>

</div> <!-- /.bodyWrap -->
